body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input {
    margin-bottom: 10px;
    padding: 8px;
    width: calc(100% - 20px);
}

button {
    padding: 8px;
}

pre {
    background: #f4f4f4;
    padding: 10px;
    border: 1px solid #ddd;
}

.contact {
    border-radius: 4px;
    background-color: #e5e5e5;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.address {
    color: #444;
    margin-left: 20px;
    margin-bottom: 0px;
}

.latest-message {
    color: #666;
    margin-left: 20px;
}

.timestamp {
    margin-left: auto;
    color: #666;
    margin-right: 20px;
}

.message-bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* make id address change when hovered */
#address:hover {
    color: grey;
    cursor: pointer;
}

.contact:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

.tabs {
    display: flex;
    border-bottom: 1px solid #ddd;
}

.tablinks {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: background-color 0.1s;
    font-size: 17px;
}

.tablinks:hover {
    background-color: #ddd;
}

.tablinks.active {
    background-color: #ccc;
    border-bottom: 2px solid #000;
}

#message-sender-container {
    display: flex;
    align-items: center;
}

#message-sender-container input {
    flex: 1;
    margin-right: 10px;
}

#message-sender-container button {
    flex-shrink: 0;
}



.message-timestamp, .message-content {
    display: inline-block;
    max-width: calc(100% - 20px);
}

.message {
    background-color: #e5e5e5;
    padding: 8px;
    border-radius: 4px;
}

.chats-top, .new-chat {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#new-chat-button {
    margin: 20px;
}

.sentMessage {
    background-color: #52a6ff;
    border-radius: 4px;
    padding: 8px;
    margin-left: auto;
    margin-right: 20px;
    color: white;
}